$Comp-logiInForm:(
  border: mainBackgroundColor,
  background-color: secondaryBackgroundColor,
);

.comp-logiInForm{
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 6px -1px;
  @include theming($themes, $Comp-logiInForm);
}